<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
      integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
      crossorigin="anonymous"
    />
    <title>PansaShop</title>
  </head>
  <body>
    <div class="grid-container">
      <header class="row">
        <div>
          <a class="brand" href="index.html">พรรษา สังฆภัณฑ์</a>
        </div>
        <div>
          <a href="cart.html">Cart</a>
          <a href="signin.html">SignIn</a>
        </div>
      </header>
      <main>
        <div class="row center">
          <label for="search-box"> ค้นหาสินค้า </label>
          <input
            type="text"
            class="search-box"
            id="search-box"
            placeholder="กรุณาใส่สินค้าที่ต้องการค้นหา..."
          />
        </div>
        <div class="row center">
          <div class="card">
            <a href="product.html">
              <!-- 680px x 830px -->
              <img
                class="medium"
                src="/pansashop/template/images/incenseSmoke-small.jpg"
                alt="product"
              />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h2>ธูปหอม 400 กรัม</h2>
              </a>

              <div class="price">฿ 60</div>
            </div>
          </div>
          <div class="card">
            <a href="product.html">
              <!-- 680px x 830px -->
              <img
                class="medium"
                src="/pansashop/template/images/incenseSmoke-large.jpg"
                alt="product"
              />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h2>ธูปหอม 800 กรัม</h2>
              </a>

              <div class="price">฿ 100</div>
            </div>
          </div>
          <div class="card">
            <a href="product.html">
              <!-- 680px x 830px -->
              <img
                class="medium"
                src="/pansashop/template/images/incenseLessSmoke-small.jpg"
                alt="product"
              />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h2>ธูปหอมควันน้อย 400 กรัม</h2>
              </a>

              <div class="price">฿ 40</div>
            </div>
          </div>
          <div class="card">
            <a href="product.html">
              <!-- 680px x 830px -->
              <img
                class="medium"
                src="/pansashop/template/images/incenseLessSmoke-large.jpg"
                alt="product"
              />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h2>ธูปหอมควันน้อย 800 กรัม</h2>
              </a>

              <div class="price">฿ 80</div>
            </div>
          </div>

          <div class="card">
            <a href="product.html">
              <!-- 680px x 830px -->
              <img
                class="medium"
                src="/pansashop/template/images/incenseNoSmoke-small.jpg"
                alt="product"
              />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h2>ธูปหอมไร้ควัน 400 กรัม</h2>
              </a>

              <div class="price">฿ 65</div>
            </div>
          </div>

          <div class="card">
            <a href="product.html">
              <!-- 680px x 830px -->
              <img
                class="medium"
                src="/pansashop/template/images/incenseNoSmoke-large.jpg"
                alt="product"
              />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h2>ธูปหอมไร้ควัน 800 กรัม</h2>
              </a>

              <div class="price">฿ 120</div>
            </div>
          </div>
        </div>
      </main>
      <footer class="row center">All right reserved</footer>
    </div>
  </body>
</html>
